<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원타입목록</title>
</head>

<body>

	<table>
		<thead>
			<tr>
				<th>회원 코드 번호</th>
				<th>회원 종류 이름</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="memberType : ${application.memberTypeList}">
				<td>[[${memberType.memberTypeCode}]]</td>
				<td>[[${memberType.memberTypeName}]]</td>
			</tr>
		</tbody>
	</table>
</body>

</html>